.wrapper{
    width: 100%;
    box-sizing: border-box;
}

.logo{
    padding: 0 10px;
    width: 80%;
}

.open-menu{
    display: none;
}

.menu {
    margin: 15px 7px 0;
    width: 98%;
    box-sizing: border-box;
    padding: 20px 10%;
    text-align: center;
    display: inline-block;
}

    .menu li{
        float: left;
        line-height: 1.5;
        margin-right: 8%;
    }

    .menu li:last-child{
        margin-right: 0;
    }

article section{
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
    .item{
        width: 40%;
        margin: 15px 10px 0;
    }

    .works img{
        width: 100%;
        margin: 15px 5% 0;
    }

.footer{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: stretch;
}

    .blog{
        width: 98%;
        margin-left: 10px;
    }
        .blog_item{
            display: block;
            clear: left;
            width: 98%;
        }

    .details{
        margin-top: 15px;
        margin-left: 10px;
        width: 40%;
        /*padding-right: 5%;*/
    }

    .contact{
        margin-top: 15px;
        margin-left: 10px;
        width: 50%;
       /* padding-right: 5%;*/
    }