@import url("reset.css");
@import url("slider.css");
@import url("media_style_xs.css") (max-width: 480px);
@import url("media_style_sm.css") (min-width: 480px) and (max-width: 960px);
@import url("media_style_md.css") (min-width: 960px);

body{
	height: 100%;
	font: 13px/1.4 Georgia, Century Schoolbook L, serif;
	color: #979797;
	background-color: #ffffff;
	text-align: left;
}

.wrapper{
	margin: 0  auto;
}


.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper {
  *zoom: 1;
}

h1{
	font-size: 26px;
	color: #505050;
	line-height: 1.5;
}
h2{
	font-size: 12px;
	color: #666;
}
h3{
	font-size: 18px;
	color: #666;
}
h4{
	font-size: 16px;
	color: #505050;
}
p{
	margin: 8px 0;
}

section a{
		color: #e2494b;
	}

/* header*/
header{	
	display: block;	
	padding: 40px  0;	
	border-bottom: 2px groove #e2e2e2;
}

.menu {
	background-color: #e2494b;
	border-radius: 5px;
	line-height: 13px;
}

	nav li{
		list-style: none;
	}
	nav a{
		color: #fff;
	}

a:hover{
	color:#ee9395;
}


/* title rect*/

.title{	
	position: relative;
	top: 15px;
	margin: 0 auto;
	background-color: #e2494b;
	width: 175px;
	padding: 6px 0;
	text-align: center;
	line-height: 18px;
	border-radius: 5px;
}
	.title  h3{
		color: #fff;
	}

/* section*/
.shout {	
	padding: 40px 0; 
	text-align:center
}
	

.shout q{
	font-style: italic;
	font-size: 22px;
	color: #333333;
	quotes: "\201c" "\201e";
}


/*article  section*/
article section{
	border-top: 2px groove #e2e2e2;	
	padding: 40px 0;
	display: flex;
	overflow: auto;
}

	.item  h3{
		color: #666;
		padding: 5px 0 10px 50px;
	}
	
	.pyramid{
		background: url(../images/pyramid.png) left top no-repeat;

	}
	.cube{
		background: url(../images/cube.png) left top no-repeat;

	}
	.pentagon{
		background: url(../images/pentagon.png) left top no-repeat;

	}
	
	.works img{
		border: 1px solid #e2e2e2;
	}

footer{
	background-color: #e2e2e2;
}

	.footer{
		border-bottom: 2px groove #e2e2e2;	
		padding: 40px 0;
		display: flex;
		overflow: auto;
	}

		.blog_item{
			display: block;
			padding: 10px 0;
		}
		.blog_item .border{
			display: block;
			float: left;
			margin-right: 10px;
			border: 1px solid #828181;
		}
		.blog_item img{
			display: block;
			border: 3px solid #fff;
		}
		.blog_item text{
			display: block;
			float:right;
		}

	
	.feedback .ng-dirty.ng-invalid{
	  border: 1px solid #F4B9B4;
	}
		.feedback input, textarea{
			border: 1px solid #e2e2e2;
			border-radius: 5px;
			padding: 5px;
			margin-top: 8px;
			font: 14px Georgia, Century Schoolbook L, serif;;
			line-height:1;
			width: 98%;
			box-sizing: border-box;
		}
		
		.feedback textarea{
			line-height: 1.4;
			resize: none;
		}
		
		.feedback .btn{	
			background-color: #e2494b;
			width: 40%;
			padding: 6px 0;
			line-height: 18px;
			text-align: center;
			font: 14px Georgia, Century Schoolbook L, serif;
			color: #fff;
			
		}
		
		.feedback .btn:disabled{	
			background-color: #F8C9D2;
			
		}
		
	.copyright{
		padding: 20px 0; 
	}

/*popup style*/	
	.popup{
		z-index: 100;
		position: fixed;
		display: inline-block;
		margin: 0 auto;
		padding: 25px 20px 15px;
		text-align: center;
		background-color: #a4f9b6;
		border: 3px solid #94cdd8;
		border-radius: 3px;
		font: 16px Georgia, Century Schoolbook L, serif;
		color: #333333;
	}

	.pannel{
		display:inline-block;
		background-color: #91c6d0;
		position: absolute;
		top: 0;
		left:0;
		height: 14px;
		width: 100%;
	}

	.cross{
		display:inline-block;
		position: absolute;
		top: -2px;
		right: -1px;
		height: 95%;
		width: 14px;
		background-color: #c52017;
		border: 1px solid #e2f3e9;
	}

	.line1{
		position: absolute;
		top: 0;
		left: 6px;
		transform: rotate(45deg);
		background-color: #e2f3e9;
		height: 90%;
		width: 2px;
	}
	.line2{
		position: absolute;
		top: 0;
		left: 6px;
		transform: rotate(-45deg);
		background-color: #e2f3e9;
		height: 90%;
		width: 2px;
	}
