<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Одностраничник </title>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/slider.js" defer></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="myApp">

<header >
	<div class="wrapper">
		<div class = "logo"><a href="index.html">
		<h1>COMPOSITION</h1>
		<h2>Free PSD Website Template</h2>
		</a></div>
		<nav class="open-menu" ng-controller="openMenu">
			<div class="line-menu" ng-click="open = !open">
				<div class="line"></div>
		     </div>
			<ul ng-show="open">
				<li><a href="index.html">HOMEPAGE</a></li>
				<li><a href="#">STYLE DEMO</a></li>
				<li><a href="#">FULL WIDTH</a></li>
				<li><a href="#">DROPDOWN</a></li>
				<li><a href="#">LINK TEXT</a></li>
			</ul>
		</nav>
		<nav class="menu">
			<div><ul>
				<li><a href="index.html">HOMEPAGE</a></li>
				<li><a href="#">STYLE DEMO</a></li>
				<li><a href="#">FULL WIDTH</a></li>
				<li><a href="#">DROPDOWN</a></li>
				<li><a href="#">LINK TEXT</a></li>
			</ul></div>
		</nav>
	</div>	
</header>

<main class="wrapper">
	<section class="shout">
		<q> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam <br>
		erat. In fringilla massa ut nisi ullamcorper pellentesque </q>
		<div class="slider" id ="slider">
			<input type="radio" name="point" class="slider_check" id="slider_check1" checked>
				<label for="slider_check1" class="slider_label"></label><img src="images/slider1.jpg" alt="" class="slider_image" />
			<input type="radio" name="point" class="slider_check" id="slider_check2">
				<label for="slider_check2" class="slider_label"></label><img src="images/slider2.jpg" alt="" class="slider_image"/>
			<input type="radio" name="point" class="slider_check" id="slider_check3">
				<label for="slider_check3" class="slider_label"></label><img src="images/slider3.jpg" alt="" class="slider_image"/>
			<input type="radio" name="point" class="slider_check" id="slider_check4">
				<label for="slider_check4" class="slider_label"></label><img src="images/slider4.jpg" alt="" class="slider_image">
		</div>
	</section>
	<article ng-controller="getData">
		<div class="title"><h3>OUR SERVICES</h3></div>
		
		<section class="services">
			<div class="item" ng-repeat="service in services | limitTo:3" ng-class = "service.class">
				<h3>{{service.title}}</h3>
				<p>{{service.info}}</p>
				<a href="#">Read more &raquo;</a>
			</div>
		</section>
		
		<div class="title"><h3>OUR PLAYERS</h3></div>
		
		<section class="team" >
			<div class="item" ng-repeat="player in players | limitTo:5">
				<img ng-src="{{player.photo}}" alt="face"/>
				<p><b>Name:</b> {{player.name}}</p>
				<p>{{player.info}}</p>
				<a href="#">View Profile &raquo;</a>
			</div>
		</section>
		
		<div class="title"><h3>LATEST WORK</h3></div>
		
		<section class="works">
			<a class = "item" ng-repeat="work in works | limitTo:3" ng-href="{{work.href}}" >
				<img  ng-src="{{work.screen}}" alt="site">
			</a>
		</section>
	</article>
</main>

<footer>
	<div class="wrapper">
		<section class="footer">
		<div class="blog" ng-controller="getNews">
			<h4>Latest From The Blog</h4>
			<div class="blog_item" ng-repeat="news in blog | limitTo:2">
				<div class="border"><img ng-src="{{news.icon}}" alt="img"/></div>
				<div class="text">
					<a href="#"><b>{{news.title}}</b></a>
					<p>{{news.notice}}</p>
				</div>
			</div>	
		</div>
		<div class="details">
			<h4>Company Details</h4>
			<p>Company Name<br>
			Street Name & Number<br>
			Town<br>
			Postcode/Zip
			</p>
			<p>Tel: xxxxx xxxxxxxxxx<br>Fax: xxxxx xxxxxxxxxx<br>Email:
			<a href="#">contact@mydomain.com</a></p>
			<p><b>Office Hours</b><br>Monday - Friday: 08:00 - 17:30<br>Saturday: 08:00 - 13:00</p>
		</div>
		<div class="contact">
			<h4>Contact Us</h4>
			<form class="feedback" name="feedback" ng-controller="formController" ng-submit="submit()">
				<input type="text" placeholder="Name*" ng-model="user.name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" required title="Введите имя">
				<input type="email"  placeholder="Email*" ng-model="user.email" required title="Укажите e-mail">
				<textarea placeholder="Message*" ng-model="user.message" rows="5" required title="Оставьте свое сообщение"></textarea>
				<input class="btn" type="submit" value="SUBMIT" ng-disabled="feedback.$invalid">
			</form>
		</div>		
		</section>
		<section class="copyright">
		 <p>Copyright &copy; 2015 - <a href="#"> All Rights Reserved - Domain Name</a></p>
		</section>
	</div>
</footer>

</body>
</html>
